
.language {
  width: 55px * 2;
  height: 30px;
  font-size: 14px;
  line-height: 1;
  margin: 1em 0;
  /* n buttons next to each other */
  display: flex;
  justify-content: center;
  
}

.language__container--left,
.language__container--right {
  position: relative;
  float: left;
  width: 55px;
  height: 30px;
  padding: 5px;
}

.language__label {
  top: 0;
  left: 0;
  width: 55px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 7px 8px 5px 0;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 14px;
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
}

.language__container--left .language__label {
  border-radius: 4px 0 0 4px;
}

.language__container--right .language__label {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.language__control:hover + .language__label,
.language__control:focus + .language__label {
  background-color: #eee;
}

.language__control:checked + .language__label {
  background-color: #ddd;
}

.language__control:focus + .language__label,
.language__control:checked:focus + .language__label {
  z-index: 2;
  outline: 2px solid #85bffd;
  box-shadow: 0 0 8px #85bffd;
}

.hidden {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}